<!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" vw-100 border">

    <footer class="bg-dark text-center text-white border">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><img src="./assets/whatsApp.png" class="fab fa-linkedin-in photo"></a>
  
        <!-- Email -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><img src="./assets/email.png" class="fab fa-linkedin-in photo"></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/diego-prudencio/" role="button"
          ><img src="./assets/linkedIn.png" class="fab fa-linkedin-in photo"></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/DiegoPrudencio" role="button"
        ><img src="./assets/gitHub.png" class="fab fa-linkedin-in photo"></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://www.entra21.com.br">Entra21.com</a>
    </div>
    <!-- Copyright -->
    <!-- href="https://mdbootstrap.com/">MDBootstrap.com -->
  </footer>
    
  </div>
  <!-- End of .container -->