<form action="" class="container form">
    
    <!-- p-5 my-5 border // bigbox -->
    <div class="bigbox">
        <h4 class="marginInp">Login</h4>

        <div class="form-group">
            <label for="idUserId" class="text-muted marginLb">E-Mail Adress</label>
            <input type="email" name="userId" class="form-control marginInp" id="idUserId" [(ngModel)]="userID">
        </div>

        <div class="form-group">

            <div class="row">
                <div class="col marginLb">
                    <label for="idPassword" class="text-muted">Password</label>
                </div>
                <div class="col text">
                    <a class="text-primary" href="">Forgot Password?</a>
                </div>
            </div>
            <input type="password" [(ngModel)] = "userPassword" name = "password" class="form-control marginInp" id="idPassword">
        </div>

        <div class="row marginDiv">
            <div class="col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="idCheckbox">
                    <label class="form-check-label" for="idCheckbox">Remember Me</label>
                </div>
            </div>
            <div class="col text">
                <button (click)="login()" class="btn btn-primary" name="mnBtnLogin" id="idBtnLogin">Login</button>
            </div>
        </div>

        <div>

            <div class="spinner-border text-info" *ngIf="isSpinner"></div>
            <output *ngIf="isMessage" [ngClass]="color" [value] = "msn"></output>
            
        </div>
        <!-- [class] = "color"  -->

        <div class="bg-light">
            <label for="idCheckbox">Don't have an account? <a href="">Create One </a></label> 
        </div>

    </div>
</form>