.form {
    width: 30%;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 0%;
    border: 0.1px solid lightgray;
    padding: 20px;
}

.marginLb {
    margin-bottom: 5px;
}

.marginInp {
    margin-bottom: 20px;
}

.bg-light {
    height: 50px;
    text-align: center;
    padding-top: 15px;
}

.marginDiv {
    margin-bottom: 30px;
}

.text {
    text-align: end;
}

.green {
    color: greenyellow;
}

.red {
    color: red;
}