<div class="container">
  <h1 class="h1"> {{ hOneTitle }} </h1>
</div>

<div class="container">

  <input type="text" 
  [value] = "input"
  [(ngModel)]="clear"
  (blur) = "onBlur(inputValue.value)"
  #inputValue> <!-- esse # chama o value do input-->
  
    
</div>

<div class="container">
  <button (click)="salvarBtn()" class="btn" name="mnBtnSalvar" id="idBtnSalvar">Salvar</button>

  <button (click)="limparBtn()" class="btn" name="mnBtnLimpar" id="idBtnLimpar">Limpar</button>
</div>

<app-autenticacao></app-autenticacao>



